<%unless user_signed_in? %>
	<div class="hero-unit">
		<h1>Welcome to my version of Pinterest</h1>
		<p>
			You've found the home page for the 
			<%= link_to "Pinterest", "http://pinterest.com/" %>

		</p>
		<p>
			<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary bnt-large" %>
		</p>
	</div>
<%end%>